body{
    font-family: 'Roboto Slab', serif;
}

ul{
    margin: 0;
}

li{
    display: inline;
    padding: 0px;
}

.middot > li:not(:last-child)::after{
    content: "*";
    margin: 20px
}


.page-header{
    text-align: center;
    background-color: #85adad;
    margin-top: 0;
    padding: 5px 20px 50px 20px;
}
