body{
    font-family: 'Roboto', sans-serif;
    background-color: #e8e9e1;
}

ul{
    margin: 0;
}

h2{
    border-left-style: solid;
    border-width: 4px;
    padding-left: 5px;
}

a:link, a:visited{
    text-decoration: none;
}

a.entry-btn:link, a.entry-btn:visited{
    color: #4f0c0e;
}

a.entry-btn:hover{
    background-color: #a27d56;
}

a.entry-title:link, a.entry-title:visited{
    color: #a27d56;
}

a.entry-title:hover{
    background-color: #f5fffa;
}

a.text-content:link, a.text-content:visited{
    color: #a27d56;
}

a.text-content:hover{
    background-color: #f5fffa;
}

.page-header{
    text-align: center;
    background-color: #cfc89f;
    color: #4f0c0e;
    margin-top: 0;
    padding: 5px 20px 40px 20px;
}

.middot{
    padding-bottom: 20px;
}

.middot > .details:not(:last-child)::after{
    content: "*";
    margin: 20px
}

.details{
    display: inline;
    padding: 0px;
}

.entry-btn{
    padding: 20px;
}

.intro{
    color: #a27d56;
}

.dates{
    padding: 0px;
}

.dates > .date:not(:last-child)::after{
    content: "-";
    margin: 15px;
}

.date{
    display: inline;
}

.intro{
    display: block;
    text-align: center;
}

.education, .skills, .employment, .interests, .refferances{
    margin-left: 500px;
    margin-right: 500px;
    color: #4f0c0e;
}

p.ref-list-item{
    display: inline-block;
}

.entry{
    margin-left: 50px;
    color: #a27d56;
}
