{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/cv.css' %}">
        <title>Jonathan's CV</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Jonathan's CV</h1>
            <ul class="details middot">
                <li>jonathanhaigh0@gmail.com</li>
                <li>07527744192</li>
                <li>56 Cherry Tree Avenue Haslemere GU27 1JP</li>
            </ul>
        </div>
        <div class="dyanmic_content">
            <p>{{ intro.text|linebreaksbr }}</p>
        </div>
    </body>
</html>
