{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/cv.css' %}">
        <title>Jonathan's CV</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Jonathan's CV</h1>
            <ul class="middot">
                <li class="details">jonathanhaigh0@gmail.com</li>
                <li class="details">07527744192</li>
                <li class="details">56 Cherry Tree Avenue Haslemere GU27 1JP</li>
            </ul>
            {% if user.is_authenticated %}
                <a href="{% url 'new_dated' %}" class="entry-btn">Enter new dated entry</a>
                <a href="{% url 'new_titled' %}" class="entry-btn">Enter new titled entry</a>
                <a href="{% url 'new_text' %}" class="entry-btn">Enter new text entry</a>
            {% endif %}
        </div>
        <div class="dyanmic_content">
            {% if user.is_authenticated %}
                <a href="{% url 'edit_text' pk=intro.pk %}">Edit</a>
            {% endif %}
            <p class="intro">{{ intro.text|linebreaksbr }}</p>
            <div class="education">
                <h2>Education</h2>
                {% for item in education %}
                    {% if user.is_authenticated %}
                        <h3><a href="{% url 'edit_dated' pk=item.pk %}">{{ item.title }}</a></h3>
                    {% else %}
                        <h3>{{ item.title }}</h3>
                    {% endif %}
                    <ul class="dates">
                        <li class="date">{{ item.start_date }}</li>
                        {% if item.ended %}
                            <li class="date">{{ item.end_date }}</li>
                        {% endif %}
                    </ul>
                    <p>{{ item.text|linebreaksbr }}</p>
                {% endfor %}
            </div>
            <div class='skills'>
                <h2>Skills</h2>
                {% for item in skills %}
                    {% if user.is_authenticated %}
                        <h3><a href="{% url 'edit_titled' pk=item.pk %}">{{ item.title }}</a></h3>
                    {% else %}
                        <h3>{{ item.title }}</h3>
                    {% endif %}
                    <p>{{ item.text|linebreaksbr }}</p>
                {% endfor %}
            </div>
            <div class="employment">
                <h2>Employment</h2>
                {% for item in employment %}
                    {% if user.is_authenticated %}
                        <h3><a href="{% url 'edit_dated' pk=item.pk %}">{{ item.title }}</a></h3>
                    {% else %}
                        <h3>{{ item.title }}</h3>
                    {% endif %}
                    <ul class="dates">
                        <li class="date">{{ item.start_date }}</li>
                        {% if item.ended %}
                            <li class="date">{{ item.end_date }}</li>
                        {% endif %}
                    </ul>
                    <p>{{ item.text|linebreaksbr }}</p>
                {% endfor %}
            </div>
            <div class='interests'>
                <h2>interests</h2>
                {% for item in interests %}
                    {% if user.is_authenticated %}
                        <h3><a href="{% url 'edit_titled' pk=item.pk %}">{{ item.title }}</a></h3>
                    {% else %}
                        <h3>{{ item.title }}</h3>
                    {% endif %}
                    <p>{{ item.text|linebreaksbr }}</p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
